
.grid-container {
	font-size: 110%;
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto 81vmin 2fr 50vmin auto;
  grid-template-areas: "header header header header" "form form form form" "suggestion suggestion suggestion suggestion" "reviews reviews reviews reviews" "footer footer footer footer";
}

/* form css */

.form {	
	background-attachment: fixed;
  color: white;
  display: flex;
   background-size: 100%;
  grid-area: form;
  justify-content: space-evenly;
  background-image: url(../images/back.jpg);
  align-items: center;
}

.text {
	background: #ffffff8f;
	border-radius: 10px;
	border-left: rgb(01, 15, 48) solid 7px;
	border-width: 6px;
  max-height: 100%;
  width: 36%;
  text-align: left;
  font-size: 0.8em;
}

h2 {
	
  font-weight: 500;
  line-height: 1.5em;
}
#form1 {
	margin: 0;
}
.form_wrapper {
	color: #081c3d;
	font-weight: 500;
	border: #010f30 solid 4px;
	border-radius: 6px;
	padding-left: 3%;
	padding-right: 3%;
/*	padding-bottom: 6.25%;
	padding-top: 6.25%;*/
  height: 68vmin;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #3e1f0d00;
  text-align: left;
   background: linear-gradient(to top, #210f00f2, rgba(231, 223, 203, 0));
}

.form .calendar {
	
	color: white;
	width: 100%;
  display: flex;
  justify-content: space-between;
}

.form label{
	text-align: left;
	width: 100%;
  padding-left: 0;
  font-size: 1em;
}



.form .button{
  vertical-align: middle;
    display: block;
    border: 3px solid white;

    border-radius: 12px;
    height: 50px;
    width: 42.5%;
}



.form .form_wrapper .date .end{
  float: right;
}

.text2 {
	padding: 10px;
	background: transparent;
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-right: solid 1px;
}

/*suggestions*/

h1 {
  font-size: 2em;
  font-weight: 300;
}

.suggestion { 
  grid-area: suggestion;
  background: #2b3d63;
  text-align: center;
  padding: 12px;
  color: white;
}

.carousel {
  margin: 0 auto;
  margin-top: 18px;
  /*fucking arrows*/
  width: calc(100% - 112px);
}

.carousel .item_wrapper{

}

.carousel .item_wrapper .item {
  max-height: 380px;
  width: 262px;
  background: white;
  margin: 0 auto;
}

.carousel .item .content_wrapper{
  width: 242px;
  height: 380px;
  background: url(../images/yacht1.jpg);
  background-size:cover;
  margin: 0 auto;
  display: flex;
}

.carousel .item .content_wrapper *{
  align-self: flex-end;
  display: block;
  margin: 0 auto;
}

.carousel .item .content_wrapper h5{
  color: white;
  font-size: 16pt;
}

.carousel .item .content_wrapper span{
  font-size: 14pt;
}

.carousel .item .content_wrapper .content{
  margin-top: 8px;
  margin-bottom: 8px;
}
/* reviews */
.reviews {
	grid-area: reviews;
  background: #d4d7e0;
  display: flex;
  font-size: 1em;

  align-items: center;
    justify-content: space-around;
}

.review_wrapper{
  font-size: 1.1em;
    width: 28%;
    text-align: center;
}

.review_wrapper .text{
  width: 100%;
  text-align: left;
  margin-bottom: 7.4%;
}

.reviews .review_wrapper .description{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rate {
	color: #b86c1f;
}


@media all and (max-device-width: 800px) {
	.body{
		font-size: 150%;
	}
	.text {
		width: 43%;
	}
	.form_wrapper {
		width: 40%;
	} 

}


@media all and (max-device-width: 500px) {
	.grid-container {
		display: block;
		font-size: 200%;
	}

	.body {
		font-size: 200%;
	}
	.form {
		flex-direction: column;
		background-size: 100% 515px;
	}

	.text {
		width: 90%;
		grid-column: 1/ span 4;
		text-align: center;
	}

	.form_wrapper {
		width: 94%;
		height: 820px;
	}

	.form .form_wrapper input{
		width: 44%;
		height: 80px;
	}

.form .form_wrapper select{
  width: 85%;
  height: 80px;
 }

 .form label{
	width: 85%;

}

.form .calendar {
	width: 85%;
}

.calendar .label {
	width: 85%;
}

.form .button {
	height: 80px;
}

	.reviews {
		flex-direction: column;
	}

	.review_wrapper {
		width: 85%;
	}
}