
.grid-container {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 19vmin 81vmin 2fr auto 1fr;
  grid-template-areas: "header header header header" "form form form form" "suggestion suggestion suggestion suggestion" "reviews reviews reviews reviews" "footer footer footer footer";
}


.reviews { grid-area: reviews; }


.navigation { 
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
    align-self: flex-end;
    text-align: center;
    flex: 3;
    background: #3f506b;
  }
  .navigation img {
  	flex-grow: 1;
  }
.navigation a {
  display: inline;
  flex-grow: 1;
  padding: 8px;
    flex-basis: 0;
    color: white;
   }

.navigation a:hover{
  background: black;
}



/* form css */

.form { 
  color: white;
  display: flex;
  grid-area: form;
  justify-content: space-evenly;
  background-image: url(../images/sea_search.jpg);
  background-size:100% 81vmin;
  align-items: center;
}

.text {
  max-height: 100%;
  width: 30%;
  text-align: right;
  font-size: 0.9em;
}

h2 {
  font-weight: 400;
  line-height: 1.5em;
}

.form_wrapper {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #2b3454;
  text-align: left;
  opacity: 0.8;
}

.form .calendar {
  display: flex;
}
.form .calendar *{
  flex: 1;
}

.form label{
  padding-left: 0;
  font-size: 14pt;
}


.form .form_wrapper input{
  width: 100%;
  color: black;
}

.form .form_wrapper select{
  width: 100%;
  color: black;
}

.form .submit{
  margin: 8px auto;
    display: block;
    border: 3px solid white;
    border-radius: 12px;
    min-width: 102px;
  padding: 8px;
  color: black;
}
.form .form_wrapper .date{
  flex: 1;
}

.form .form_wrapper .date .end{
  float: right;
}

form {
 margin: 32px;
}


/*suggestions*/

h1 {
  font-size: 2em;
  font-weight: 300;
}

.suggestion { 
  grid-area: suggestion;
  background: #2b3d63;
  text-align: center;
  padding: 12px;
  color: white;
}

.carousel {
  margin: 0 auto;
  margin-top: 18px;
  /*fucking arrows*/
  width: calc(100% - 112px);
}

.carousel .item_wrapper{

}

.carousel .item_wrapper .item {
  max-height: 380px;
  width: 262px;
  background: white;
  margin: 0 auto;
}

.carousel .item .content_wrapper{
  width: 242px;
  height: 380px;
  background: url(../images/yacht1.jpg);
  background-size:cover;
  margin: 0 auto;
  display: flex;
}

.carousel .item .content_wrapper *{
  align-self: flex-end;
  display: block;
  margin: 0 auto;
}

.carousel .item .content_wrapper h5{
  color: white;
  font-size: 16pt;
}

.carousel .item .content_wrapper span{
  font-size: 14pt;
}

.carousel .item .content_wrapper .content{
  margin-top: 8px;
  margin-bottom: 8px;
}
/* reviews */
.reviews {
  padding: 16px;
  background: #d4d7e0;
  display: flex;

  align-items: center;
    justify-content: space-around;
}

.review_wrapper{
    padding: 48px;
    width: 28%;
    text-align: center;
}

.review_wrapper .text{
  width: 100%;
  text-align: left;
  padding: 6px
}

.reviews .review_wrapper .description{
  display: flex;
  justify-content: space-between;
  margin: 6px;
}
.reviews .review_wrapper .description .author{

}
.reviews .review_wrapper .description .rate{
    
}

