body {
	padding: 0;
	margin: 0;
	font-size: 120%;
}


.button:hover {
    background-color:#edb862;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color:white;
  text-decoration:none;
  cursor: crosshair;
}

a:hover {
  color: #edb862;
  text-decoration: underline;
}

/*fonts and colors*/
.poiret {
  font-family: 'Poiret One', cursive;
}


.montserrata {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.tenor {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1em;
}


.header {
  font-size: 1.2em;
  color: white;
  height: 19vmin;
  position: relative;
  grid-area: header;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  box-shadow: 0 0 20px rgba(0,0,28,10);
}

.header .logo {
	width: 21vmin;
	position: absolute;
  bottom: 10%;
  display: block;
}

/*.header .contact {
  padding: 8px;
  color: white;
  margin-left: auto;
  align-self: flex-end;
  flex: 1;
  text-align: right;
  font-size: 0.8em;
}*/

ul li:first-child {
  padding-left: 5%;
	display: inline-flex;
	justify-content: flex-start;
}

ul li:last-child {
  font-size: 0.8em;
  opacity: 0.4;
  padding-right: 5%;
  display: inline-flex;
  justify-content: flex-end;
}

.navigation {
  border-bottom: white solid 16px;
	height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding-right: 3%;
  padding-left: 3%;
    align-self: flex-end;
    text-align: center;
    align-items: flex-end;

    background: rgb(43, 65, 87);
  }

.navigation li {

  margin-bottom: 25px;
  min-width: 200px;
  height: auto;
  display: inline;
  flex-grow: 1;/*
  flex-basis: 0;*/
  width: auto;
  color: white;
}

.button {
  border-radius: 4px;
  border-color: white;
  border-style: solid;
	background: transparent;
	color: white;
  opacity: 0.8;
  min-width: 40px;
  min-height: 35px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}


/* footer */

.footer {
  height: auto;
	font-size: 1.1em;
	line-height: 35px;
	font-weight: 100;
	color: white;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../images/sea_footer.jpg);
  background-size:cover;
}

.footer .logo {
  width: 80%;
}

.footer span {
	width: 25%;
	text-align: left;
  white-space: pre-line;
}


.footer span:last-child {
	text-align: right;
  line-height: 130%;
}

.footer> div{
  margin-top: 5%;
  margin-bottom: 5%;
 margin-left: 8%;
 margin-right: 8%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form_wrapper {
  padding-left: 3%;
  padding-right: 3%;
/*  padding-bottom: 6.25%;
  padding-top: 6.25%;*/
  height: 81vmin;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #2b3454;
  text-align: left;
  opacity: 0.8;
  color: rgb(0, 42, 61);
}

.form_wrapper .calendar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

 .item_wrapper{
  color: rgb(0, 42, 61);
  height: 33%;
  width: 95%;
  background: #d4d7e0;
  margin: 0;
  display: grid;
  align-items: stretch;
 grid-template-columns: 6fr 3fr 3fr;
  grid-template-rows: 2fr 3fr 3fr 1fr;
  grid-template-areas: "item_header item_header item_header" "text text text" "detail detail detail" ". . .";
  /*padding-right: 5%;
  margin-bottom: 3%;*/
}

h3 {
  padding:0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/ span 1;
}


.text {
  grid-column: 2/ span 2;
}



img {

  height: 95%;
  width: 83%;
}

.item_wrapper div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.price .montserrata {
  font-size: 1.5em;
  font-weight: bold;
}

.results .button {

  border-width: 4px;
  color: rgb(0, 42, 61);
}


h4 {
  margin: 0;
  width: 100%;
  font-weight: 300;
  font-size: 1.5em;
}


.blue_greenish {
  color: rgb(0, 42, 61);
  border-color: rgb(0, 42, 61);
}



input, select {
  -webkit-appearance: none;
  width: 100%;
  background:transparent;
  border: white solid 2px;
  height: 9%;
  border-radius: 4px;
  font-family: Montserrat, sans-serif;
}

input {
  width: 45%;
}


@media all and (max-device-width: 800px) {
  .header {
    font-size: 1.5em;
  }
  ul li:first-child  {
  padding-left: 3%;
}

  ul li:last-child {
    padding-right: 3%;
  }
}

@media all and (max-device-width: 500px) {
  body {
    font-size: 130%;
  }
  .header {
    justify-content: center;
    height: auto;
  }
  .navigation {
    font-size: 0.8em;
    height: 240px;
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation li {
  flex-grow: 1;
  flex-basis: 0;
  display: block;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo {
  width: 60%;
  height: auto;
  bottom: 0;
  top: 5%;
}

  ul li:first-child  {
  position: absolute;
  padding-left: 0;
  width: 25%;
  left: 0;
  flex-grow: 2;
}

.footer {
  flex-direction: column;
}


.footer {
    align-items: center;
    height: auto;
  }

  .footer div {
    line-height: 1.8em;
    margin: 0;
  }

  .footer span {
    width: 60%;
    text-align: center;
    line-height: 1.8em;
    white-space: normal;
  }
  .footer span:last-child {
    line-height: 1.8em;
    text-align: center;
  }

  .footer .logo {
    width: 40%;
    height: auto;
  }

}

select, input {
  background:transparent;
  border: solid white 3px;
}