.grid-container {
  display: grid;
  align-items: stretch;
  grid-template-columns: 32px 1fr 2fr 32px;
  grid-template-rows: 19vmin 10vmin 2fr auto;
  grid-template-areas: "header header header header" "header_content header_content header_content header_content" "content content content content" "footer footer footer footer";
}



.header_content {
	display: flex;
	padding: 16px;
	grid-area: header_content;
	align-content: center;
	text-align: center;
	    background: #2a3e63;
	color: white;
}

.header_content .count{
	flex: 1;
	margin-left: 12px;
}


.header_content .sort{
	flex: 1;
}

.content {
	display: flex;
	grid-area: content;
	background: #2a3e63;

    justify-content: center;
}

.content .filter{
	padding: 8px;
	margin-right: 16px;
	background: url(../images/search/filters_background.jpg);
	color: white;
    padding: 18px;

    width: 238px;
    height: 426px;
}

.page_selector{
	margin-bottom: 16px;
	color: white;
}


.page_selector ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	   height: 22px;
    border-radius: 8px;
    background: #325d80;
    padding: 8px;
}

.page_selector ul li{

	display: inline-block;
	margin: 0;
	padding: 0;
	    padding-left: 8px;
    padding-right: 8px;
}

.content .filter input{
	display: block;
	width: 100%;
	margin: 6px 0;

}
.content .results{
	align-content: center;
}

.content .results .page_selector{
	float: right;
}

.content .results .item_wrapper{
	background: #d4d7e0;
	padding: 8px 16px;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	margin-bottom: 32px;
}

.results_count{
	background: url(../images/search/numberrbar.png);
    display: inline-block;
    background-position: 50% 50%;
    border-radius: 6px;
    padding: 4px;
}

.content .results .item_wrapper *{
	margin: 0;
	padding: 0;
}

.content .results .main{
	flex: 1;
	margin-right: 8px;
}

.content .results .description{
	flex: 1;
}

.content .results .description .avaliable{
	padding: 8px 0;
}

.content .results .item_wrapper h3{
	padding: 8px 0;
}

.content .results .item_wrapper .main .img{
	width: 90%;
}

.content .results .item_wrapper .description .details{
	padding-top: 8px;
	display: flex;
}

.content .results .item_wrapper .description .details *{
	flex: 1;
}