.grid-container {
  display: grid;
  align-items: stretch;
  grid-template-columns: 32px 1fr 2fr 32px;
  grid-template-rows: 19vmin 10vmin 71vmin auto;
  grid-template-areas: "header header header header" "header_content header_content header_content header_content" "content content content content" "footer footer footer footer";
}


.header_content {
	display: flex;
	padding: 16px;
	grid-area: header_content;
	align-content: center;
	text-align: center;
	    background: #2a3e63;
	color: white;
  font-size: 0.9em;
  justify-content: flex-start;
  text-decoration: underline;
}

.header_content .count{
	margin-left: 12px;
}

.cell_wrapper button {
    margin-top:10px;
    height: 50px;
}

.header_content .sort{
	flex: 1;
}

.content {
  padding-left: 9%;
  padding-right: 9%;
	display: flex;
	grid-area: content;
	background: #2a3e63;
  justify-content: space-around;
}

.cell_wrapper{
  padding-top: 2%;
  padding-bottom: 0;
  width: 50%;
	background: rgb(212, 215, 223);
  height: 78%;
}

.form_wrapper {
  background: rgb(212, 215, 223);
  width: 40%;
}

.text {
  grid-column: 1 / span 2;
  max-height: 100%;
  font-size: 0.9em;
}

select {
  text-align: center;
}


.carousel .item_wrapper .item {
  max-height: 380px;
  width: 262px;
  background: white;
  /*margin: 0 auto;*/
  margin: 0 32px;
}

.carousel .item .content_wrapper{
  height: 62.8vmin;
  background-size:cover;
  margin: 0 auto;
  display: flex;
}

.carousel .item .content_wrapper *{
  align-self: flex-end;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.carousel .item .content_wrapper h5{
  color: white;
  font-size: 16pt;
}

.carousel .item .content_wrapper span{
  font-size: 14pt;
}

.carousel .item .content_wrapper .content{
  margin-top: 8px;
  margin-bottom: 8px;
}

.item_wrapper {
  font-size: 1em;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: stretch;
  height: 70%;
  width: auto !important;
  grid-template-columns: 8fr 5fr;
  grid-template-rows: 10% 8fr 6fr ;
  grid-template-areas: "item_header item_header" "text text" "detail detail";
}

.item_wrapper .montserrata {
  font-size: 0.8em;
}

.item_wrapper h4 {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
}

.price {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}



.slick-prev {
    left: 10px !important;
    z-index: 22;
}


.slick-next {
    right: 10px !important;
    z-index: 22;
}


.popup {
          width: 100%;
          height: 100%;

            display: none;
  }
      .popup_background{
          position: fixed;
          width: 100%;
          height: 100%;
          z-index: 50;
        background: black;
        opacity: 0.6;
      }
      .popup_wrapper{

          position: fixed;
      display: block;
      }

      .popup_content_wrapper{
          position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 50;
        justify-content: space-around;
    align-items: center;
    display: flex;
      }
      .popup_content{
        position: relative;
        padding: 64px;
        background: #d2d5de;

            display: flex;
    align-items: center;
    flex-direction: column;
      }

      .number{
          width: 80%;
	background: url("../images/bar_admin.png");
	background-size: cover;
	height: 36px;
	padding: 4px;
	font-size: 1.2em;
	font-family: Poiret One, sans-serif;
      }

      .button_close{
          height: 48px;
          width: 48px;
          position: absolute;
          top: 16px;
          right: 16px;
      }