<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="styles/main.css">

  <link rel="stylesheet" href="styles/admin.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<div class="grid-container">
   <div class="header">


      <ul class="navigation poiret">
        <li><img class="logo" src="images/logo.png"></li>
        <a><li>Поиск яхты</li></a>
        <a><li>О нас</li></a>
      </ul>
      <span class="contact poiret">
        +380661295869
      </span>
  </div>


  <div class="content">
    <div class="form_wrapper">
      <form class="form" method="post" action="/admin">
        <h1>Админ панель</h1><br>
        <input type="text" name="login"><br>
        <input type="password" name="password"><br>
        <button>Войти</button>
      </form>
      </form>
    </div>
  </div>
  <div class="footer">
		<span>
  			+380661295869
  			+380661295869
  			+380661295869
  		</span>
  		<img class="logo" src="images/logo_footer.png">
  		<span>
  			+380661295869
  			+380661295869
  			+380661295869
  		</span>

  </div>
</div>
</body>
</html>