<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="styles/main.css">

  <link rel="stylesheet" href="styles/search.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


	<script src="scripts/search.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: {{ max_price[0][0] }},
      values: [ {{ params[4] }}, {{ params[5] }} ],
      slide: function( event, ui ) {
         $("#price_start").val(ui.values[ 0 ]);
         $("#price_finish").val(ui.values[ 1 ]);

        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ));
  } );
  </script>

</head>
<body>
<div class="grid-container">
   <div class="header">


      <ul class="navigation poiret">
        <a><li><img class="logo" src="images/logo.png"></li></a>
        <a href="/"><li>на главную</li></a>
        <a href="/about"><li>о нас</li></a>
      </ul>
      <span class="contact poiret">
        +380661295869
      </span>
  </div>



  <div class="content">
    <form class="filter montserrata">
      <h4>Активные фильтры</h4>
        <label>Направление</label>
        <select name="directions[]" wtype="wide">

         {% for d in directions %}
            {% if params[6] == d[1] %}
          <option selected value="{{ d[1] }}">{{ d[1] }}</option>
              {% else %}
            <option value="{{ d[1] }}">{{ d[1] }}</option>
            {% endif %}

        {% endfor %}

        </select>

        <label>Тип яхты</label>
        <select name="yacht_type[]" wtype="wide">
        {% for d in yacht_types %}
            {% if params[3] == d[1] %}
          <option selected value="{{ d[1] }}">{{ d[1] }}</option>
          {% else %}
            <option value="{{ d[1] }}">{{ d[1] }}</option>
            {% endif %}

        {% endfor %}
        </select>

        <label>Дата отправления</label>
        <input type="date" name="date_start" wtype="wide">
        <label>Дата возвращения</label>
        <input type="date" name="date_finish" wtype="wide">
        <label>Бюджет</label>
        <div id="slider-range" style="width: 100%;"></div>
        <input type="text" id="amount" readonly style="font-size: 12pt;border:0; color:white; font-weight:bold;background: transparent;">

        <label>Количество людей</label><span id="slider-seat" style="width: 100%;">от {{ params[2] }}</span>
        <input type="range" value="{{ params[2] }}" step="1" name="yacht_seat" oninput="document.getElementById('slider-seat').innerHTML = 'от ' + this.value" onchange="document.getElementById('slider-seat').innerHTML = 'от ' + this.value" wtype="wide" min="1" max="50">
        <input class="button" type="reset" name="reset" value="Сбросить фильтры">
        <input type="hidden" name="price_start" value="0" id="price_start" >
        <input type="hidden" name="price_finish" value="999999" id="price_finish">

        <input class="button" type="submit" name="reset" value="Поиск">
    </form>




    <div class="results">
      <div class="header_content poiret">
    <div class="count"><div class="results_count">{{ results_count }}</div>  результатов</div>
    <div class="sort">сортировать по
    <select onchange="GetSelectedItem('sort')" id="sort">

         {% if "rank" == params[9] %}

    <option selected value="rank">популярности</option>
    <option value="price">цене</option>
              {% else %}

    <option  value="rank">популярности</option>
    <option selected value="price">цене</option>
            {% endif %}

    </select>
    </div>
  </div>
 {% for yacht in yachts %}
  <div class="item_wrapper">
          <h3>{{ yacht[1]}}</h3>
          <div class="poiret">Ближайшие даты: </div>
          <div class="avaliable poiret">
                Сегодня
              </div>
          <div class="img"><img  src="images/search/yacht.jpg"></div>
          <div class="text montserrat">
          <!--Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate get, arcu. Ulla consequat massa quis enim. Donec pede justo.-->

          {{ yacht[6] }}
          </div>
          <div class="price">
            <span class="montserrata"> {{ yacht[2] }}</span>
            <span class="poiret">грн/сутки</span>
          </div>
          <button class="button" onclick='location.href="/yacht?id={{ yacht[0] }}"'>Rent</button>
      </div>
      {% endfor %}
<!--
     <div class="item_wrapper">
          <h3>Яхта"вмвл"</h3>
          <div class="poiret">ближайшие даты: </div>
          <div class="avaliable poiret">
                today
              </div>
          <div class="img"><img  src="images/search/yacht.jpg"></div>
          <div class="text montserrat">
             Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate get, arcu. Ulla consequat massa quis enim. Donec pede justo.
          </div>
          <div class="price">
            <span class="montserrata">1300</span>
            <span class="poiret">грн/сутки</span>
          </div>
          <button class="button">Rent</button>
      </div>

      <div class="item_wrapper">
          <h3>Яхта"вмвл"</h3>
          <div class="poiret">ближайшие даты: </div>
          <div class="avaliable poiret">
                today
              </div>
          <div class="img"><img  src="images/search/yacht.jpg"></div>
          <div class="text montserrat">
             Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate get, arcu. Ulla consequat massa quis enim. Donec pede justo.
          </div>
          <div class="price">
            <span class="montserrata">1300</span>
            <span class="poiret">грн/сутки</span>
          </div>
          <button class="button">Rent</button>
      </div>

       <div class="item_wrapper">
          <h3>Яхта"вмвл"</h3>
          <div class="poiret">ближайшие даты: </div>
          <div class="avaliable poiret">
                today
              </div>
          <div class="img"><img  src="images/search/yacht.jpg"></div>
          <div class="text montserrat">
             Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate get, arcu. Ulla consequat massa quis enim. Donec pede justo.
          </div>
          <div class="price">
            <span class="montserrata">1300</span>
            <span class="poiret">грн/сутки</span>
          </div>
          <button class="button">Rent</button>
      </div>

      <div class="item_wrapper">
          <h3>Яхта"вмвл"</h3>
          <div class="poiret">ближайшие даты: </div>
          <div class="avaliable poiret">
                today
              </div>
          <div class="img"><img  src="images/search/yacht.jpg"></div>
          <div class="text montserrat">
             Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate get, arcu. Ulla consequat massa quis enim. Donec pede justo.
          </div>
          <div class="price">
            <span class="montserrata">1300</span>
            <span class="poiret">грн/сутки</span>
          </div>
          <button class="button">Rent</button>
      </div>

-->
      <div class="page_selector poiret">
        <ul>

            {% for i in range(0,params[7]) %}

               {% if i == params[8] %}

          <li style="background: #526d7c;"><a onclick="go({{ i*10 }} )">{{ i+1 }}</a></li>
              {% else %}

          <li><a onclick="go({{ i*10 }} )">{{ i+1 }}</a></li>
            {% endif %}

          {% endfor %}
          </ul>
      </div>
    </div>
  </div>
  <div class="footer poiret">
    <span>facebook
        twitter
        instagram
      </span>
      <div>
        <img class="logo" src="images/logo_footer.png">
        <div>2012-2019</div>
      </div>
      <span>+380661295869
        +380661295869
        ул. Кого-то 35,
        Бердичев
      </span>

  </div>
</div>
</body>
</html>