<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="styles/main.css">

  <link rel="stylesheet" href="styles/search.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- jquery -->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

<!--<script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ 75, 300 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  } );
  </script>-->

</head>
<body>
<div class="grid-container">
   <div class="header">


      <ul class="navigation poiret">
        <a><li><img class="logo" src="images/logo.png"></li></a>
        <a><li>на главную</li></a>
        <a><li>о нас</li></a>
      </ul>
      <span class="contact poiret">
        +380661295869
      </span>
  </div>
  


  <div class="content">
    <form class="filter montserrata">
      <h4>активные фильтры</h4>
        <label>направление</label>
        <select name="directions[] wtype="wide">

         {% for d in directions %}
          <option value="{{ d[1] }}">{{ d[1] }}</option>
        {% endfor %}

        </select>

        <label>тип яхты</label>
        <select name="yacht_type[]" wtype="wide">
        {% for d in yacht_types %}
          <option value="{{ d[1] }}">{{ d[1] }}</option>
        {% endfor %}
        </select>

        <label>дата отправления</label>
        <input type="date" name="date_start" wtype="wide">
        <label>дата возвращения</label>
        <input type="date" name="date_finish" wtype="wide">
        <label>бюджет</label>
        <input type="range" name="money" wtype="wide">
        <label>количество людей</label>
        <input type="range" name="money" wtype="wide">
        <input class="button" type="reset" name="reset" value="Сбросить фильтры">
    </form>




    <div class="results">
      <div class="header_content poiret">
    <div class="count"><div class="results_count">{{ results_count }}</div>  результатов</div>
    <div class="sort">сортировать по 
    <select>
    <option value="rank">популярности</option>
    <option value="chebyrachka">Чебурашка</option>
    <option value="price">цене</option>
    </select>
    </div>
  </div>
     <div class="item_wrapper">
          <h3>Яхта"вмвл"</h3>
          <div class="poiret">ближайшие даты: </div>
          <div class="avaliable poiret">
                today
              </div>
          <div class="img"><img  src="images/search/yacht.jpg"></div>
          <div class="text montserrat">
             Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate get, arcu. Ulla consequat massa quis enim. Donec pede justo. 
          </div>
          <div class="price">
            <span class="montserrata">1300</span> 
            <span class="poiret">грн/сутки</span>
          </div>
          <button class="button">Rent</button>
      </div>

      <div class="item_wrapper">
          <h3>Яхта"вмвл"</h3>
          <div class="poiret">ближайшие даты: </div>
          <div class="avaliable poiret">
                today
              </div>
          <div class="img"><img  src="images/search/yacht.jpg"></div>
          <div class="text montserrat">
             Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate get, arcu. Ulla consequat massa quis enim. Donec pede justo. 
          </div>
          <div class="price">
            <span class="montserrata">1300</span> 
            <span class="poiret">грн/сутки</span>
          </div>
          <button class="button">Rent</button>
      </div>

       <div class="item_wrapper">
          <h3>Яхта"вмвл"</h3>
          <div class="poiret">ближайшие даты: </div>
          <div class="avaliable poiret">
                today
              </div>
          <div class="img"><img  src="images/search/yacht.jpg"></div>
          <div class="text montserrat">
             Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate get, arcu. Ulla consequat massa quis enim. Donec pede justo. 
          </div>
          <div class="price">
            <span class="montserrata">1300</span> 
            <span class="poiret">грн/сутки</span>
          </div>
          <button class="button">Rent</button>
      </div>

      <div class="item_wrapper">
          <h3>Яхта"вмвл"</h3>
          <div class="poiret">ближайшие даты: </div>
          <div class="avaliable poiret">
                today
              </div>
          <div class="img"><img  src="images/search/yacht.jpg"></div>
          <div class="text montserrat">
             Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate get, arcu. Ulla consequat massa quis enim. Donec pede justo. 
          </div>
          <div class="price">
            <span class="montserrata">1300</span> 
            <span class="poiret">грн/сутки</span>
          </div>
          <button class="button">Rent</button>
      </div>

      <div class="page_selector poiret">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer poiret">
    <span>facebook
        twitter
        instagram
      </span>
      <div>
        <img class="logo" src="images/logo_footer.png">
        <div>2012-2019</div>
      </div>
      <span>+380661295869
        +380661295869
        ул. Кого-то 35, 
        Бердичев
      </span>

  </div>
</div>
</body>
</html>