<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="styles/main.css">

  <link rel="stylesheet" href="styles/yacht.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,300,400,500|Montserrat:200,300,400,500|Poiret+One|Tenor+Sans" rel="stylesheet">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- carousel -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css">
  <link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>

  <script type="text/javascript">


    var params = {
  centerMode: true,
  slidesToShow: 1,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        slidesToShow: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        slidesToShow: 1
      }
    }
  ]
};


  </script>
</head>
<body>
<div class="popup" id="popup">

    <div class="popup_background" ></div>


<div class="popup_content_wrapper">
        <div class="popup_content">
            <div class="button_close" id="button_close" >

<i class="fa fa-close" style="font-size:48px;color: #92a8af"></i>

            </div>
            <p class="montserrata popup_text">Введите свой номер телефона и мы<br> перезвоним вам через 5 минут!</p>
            <input class="number" type="text" name="login" value="+380"><br>
            <input class="montserrata button blue_greenish button_padding"  type="submit" name="reset" value="Позвоните мне">
        </div>
    </div>

  <script>
      function popupShow(){
          document.getElementById("popup").style.display = "block";
      }

      function popupHide(e){
          document.getElementById("popup").style.display = "none";
      }
      let btn_close = document.getElementById("button_close")
      btn_close.addEventListener('click',popupHide,false);
  </script>
</div>
<div class="grid-container">
   <div class="header">


      <ul class="navigation poiret">
        <a><li><img class="logo" src="images/logo.png"></li></a>
        <a href="/"><li>на главную</li></a>
        <a href="/search"><li>поиск яхты</li></a>
        <a href="/about"><li>о нас</li></a>
      </ul>
      <span class="contact poiret">
        +380661295869
      </span>
  </div>

  <div class="header_content poiret">
    <div class="count"><a class="count" style="color: white;" href="javascript:history.back()">к результатам поиска</a></div>

  </div>


  <div class="content">
    <div class="cell_wrapper">

    <div class="carousel">
      <div class="item_wrapper">
        <div class="item">
          <div class="content_wrapper">
              <img src="images/yacht1.jpg">
          </div>
        </div>
      </div>


     <div class="item_wrapper">
        <div class="item">
          <div class="content_wrapper">
              <img src="images/yacht1.jpg">
          </div>
        </div>
      </div>


     </div>


      <script type="text/javascript" src="lib/slick/slick.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.carousel').slick(params);
    });

  </script>

    </div>
    <div class="cell_wrapper form_wrapper">
      <div class="calendar">
            <input class="date start" type="date" name="where">
            <input class="date end" type="date" name="where">

      </div>
      <select class="select_where">
           {% for d in directions %}
                 <option value="{{ d[1] }}">{{ d[1] }}</option>

            {% endfor %}
      </select>



      <div class="item_wrapper">
        <h4 class="montserrata">вместимость: {{ yacht[4] }} людей</h4>
        <h4 class="montserrata">тип {{ yacht[5] }}</h4>
        <div class="text">
        <!--  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        -->

          {{ yacht[6] }}
        </div>

        <div class="price">
          <span>{{ yacht[2] }}
            <span class="poiret">грн.сутки</span>
          </span>
          <div class="montserrata">
            <span class="poiret">Всего </span>
              <span class="montserrata"> {{ yacht[2] }} </span>
         </div>
       </div>
            <button onclick="popupShow()" class="montserrata button blue_greenish">Заказать </button>
        </div>
  </div>
</div>



  <div class="footer poiret">
    <span>facebook
        twitter
        instagram
      </span>
      <div>
        <img class="logo" src="images/logo_footer.png">
        <div>2012-2019</div>
      </div>
      <span>+380661295869
        +380661295869
        ул. Кого-то 35,
        Бердичев
      </span>

  </div>
</div>
</body>
</html>