<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="styles/main.css">

  <link rel="stylesheet" href="styles/yacht.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,300,400,500|Montserrat:200,300,400,500|Poiret+One|Tenor+Sans" rel="stylesheet">
  <!-- jquery --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- carousel -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css">

  <script type="text/javascript">
    var params = {
  centerMode: true,
  slidesToShow: 1,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        slidesToShow: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true, 
        slidesToShow: 1
      }
    }
  ]
};
  </script>
</head>
<body>
<div class="grid-container">
   <div class="header">
    

      <ul class="navigation poiret">
        <li><img class="logo" src="images/logo.png"></li>
        <a><li>Поиск яхты</li></a>
        <a><li>О нас</li></a>
      </ul>
      <span class="contact poiret">
        +380661295869
      </span> 
  </div>
  <div class="header_content">
    <div class="count">К списку результатов</div>
    
  </div>


  <div class="content">
    <div class="cell_wrapper">

    <div class="carousel">
      <div class="item_wrapper">
        <div class="item">
          <div class="content_wrapper">
              <img src="images/yacht1.jpg">
          </div>
        </div>
      </div>

     
     <div class="item_wrapper">
        <div class="item">
          <div class="content_wrapper">
              <img src="images/yacht1.jpg">
          </div>
        </div>
      </div>


     </div>


      <script type="text/javascript" src="lib/slick/slick.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.carousel').slick(params);
    });
          
  </script>

    </div>
    <div class="cell_wrapper">
      <div class="calendar">
            <input class="date start" type="date" name="where">
            <input class="date end" type="date" name="where">
          
      </div>
      <div>
            <select class="select_where">
              <option>tuda</option>

              <option>suda</option>
            </select>
      </div>
      <div class="calendar">
          <label class="montserrata">Дата </label>
          <label class="montserrata">Дата </label>
      </div> 
      <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> et dolore magna aliqua.</p><p> Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip<br> ex ea commodo consequat.</p>
      </div>
      <div class="calendar">
          <span class="montserrata">Всего </span>
          <span class="montserrata">15000 </span>

          <button class="montserrata">15000 </button>
      </div> 
    </div>
  </div>
  <div class="footer">
		<span>
  			+380661295869
  			+380661295869
  			+380661295869
  		</span>	
  		<img class="logo" src="images/logo_footer.png">
  		<span>
  			+380661295869
  			+380661295869
  			+380661295869
  		</span>	

  </div>
</div>
</body>
</html>